<!DOCTYPE html>
<html>
  <head>
    <title><%- title %> | TODOIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/ng-table.css">
    <link rel="stylesheet" href="/styles/ngDialog.css">
    <link rel="stylesheet" href="/styles/ngDialog-theme-default.css">
  </head>

  <body ng-app="todoIt">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
              <%- body %>
            </div>
        </div>
    </div>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/js/main"></script>
  </body>
</html>