<!DOCTYPE html>
<html>
  <head>
    <title><%- title %> | TODOIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/ng-table.css">
    <link rel="stylesheet" href="/styles/ngDialog.css">
    <link rel="stylesheet" href="/styles/ngDialog-theme-default.css">
  </head>

  <body ng-app="todoIt">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-check"></i> aaspass Alerts</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<% if (title === 'Home') { %>active<% } %>">
              <%- link_to('Home', '/') %>
            </li>
            <li class="<% if (title === 'List') { %>active<% } %>">
              <%- link_to('List', '/talert') %>
            </li>
            <li class="<% if (title === 'halftalert') { %>active<% } %>">
              <%- link_to('HalfTAlert', '/halftalertpage') %>
            </li>
            <li class="<% if (title === 'Police Alerts') { %>active<% } %>">
              <%- link_to('Police Alerts', '/palertpage') %>
            </li>
            <li class="<% if (title === 'About') { %>active<% } %>">
              <%- link_to('About', '/about') %>
            </li>
            <li class="<% if (title === 'Logout') { %>active<% } %>">
              <%- link_to('Logout', '/logout') %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading"><%- title %></h2>
              <%- body %>
            </div>
        </div>
    </div>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/js/main"></script>
  </body>
</html>