<ul class="checklist">
    <li>
        <input type="checkbox" checked /> Do a thing
    </li>
    <li>
        <input type="checkbox" /> Do another thing
    </li>
    <li>
        <input type="checkbox" /> Do a third thing
    </li>
</ul>

<button class="btn btn-primary">Add</button>
<button class="btn btn-danger">Remove</button>