<div ng-controller="HalftalertCtrl">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Location</th>
				<th>City</th>
				<th>Verify</th> 
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="alert in halerts">
				<td><span ng-bind="alert.location"></span></td>
				<td><span ng-bind="alert.city"></span></td>
				<td><input type="checkbox" ng-checked="alert.verified" ng-click="htalertVerify(alert)" /></td>
				<td><button class="btn btn-sm btn-danger" ng-click="removeHtalert(alert)">x</button></td>
			</tr>
		</tbody>
	</table>
    Location<input type="text" ng-model="location" />
    City<input type="text" ng-model="city" />
    <button class="btn btn-primary" ng-click="addHtalert()">Add</button>
</div>