<div ng-controller="PalertCtrl">

    <button ng-click="addPalert()" class="btn btn-success"><span class="glyphicon glyphicon-plus pull-left"></span>Add Police Alert</button>
    <button ng-click="tableParams.sorting({})" class="btn btn-default">Clear sorting</button>
    <div class="clearfix"></div>
      <table ng-table="tableParams" class="table">
        <tbody>
          <tr ng-repeat="palert in $data">
            <td data-title="'Location'" sortable="'location'">
                    {{palert.location}}
            </td>
            <td data-title="'City'" sortable="'city'">
                    {{palert.city}}
            </td>
            <td data-title="'Theft'" sortable="'theft'" class="text-center">
                    <span ng-if="palert.theft == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.theft == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td data-title="'Harrassment'" sortable="'harrassment'" class="text-center">
                    <span ng-if="palert.harrassment == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.harrassment == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td data-title="'Murder'" sortable="'murder'" class="text-center">
                    <span ng-if="palert.murder == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.murder == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td data-title="'Kidnapping'" sortable="'kidnapping'" class="text-center">
                    <span ng-if="palert.kidnapping == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.kidnapping == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td data-title="'Fraud'" sortable="'fraud'" class="text-center">
                    <span ng-if="palert.fraud == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.fraud == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td data-title="'Robbery'" sortable="'robbery'" class="text-center">
                    <span ng-if="palert.robbery == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.robbery == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td data-title="'Creditcardfraud'" sortable="'creditcardfraud'" class="text-center">
                    <span ng-if="palert.creditcardfraud == true" class="glyphicon glyphicon-ok text-success text-center"></span>
                    <span ng-if="palert.creditcardfraud == false" class="glyphicon glyphicon-remove text-danger"></span>
            </td>

            <td data-title="'Verify'" class="text-center"><button class="btn btn-sm btn-info" ng-click="palertVerify(palert)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button></td>

            <td data-title="'Remove'" class="text-center"><button class="btn btn-sm btn-danger" ng-click="removePtalert(palert)"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button></td>

          </tr>
        </tbody>
      </table>
</div>






<div>
    <script type="text/ng-template" id="myModalContent">
        <div class="modal-header">
            <h3 class="modal-title">Add Police Alert</h4>
        </div>






<div class="modal-body">

<div class="container-fluid">
    <div class="row">
        <!-- panel preview -->
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        <label for="city" class="col-sm-3 control-label">City</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="city" ng-model="city"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="location" ng-model="location"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6" >
                            <div class="row">
                            <label for="theft" class="control-label col-sm-6">Theft</label>
                            <div class="col-sm-6">
                                <input type="checkbox" name="theft" ng-model="theft"/>
                            </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label for="harrassment" class="control-label col-sm-6">Harrassment</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="harrassment" ng-model="harrassment"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label for="murder" class="col-sm-6 control-label">Murder</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="murder" ng-model="murder"/>
                                </div>
                                </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label for="kidnapping" class="col-sm-6 control-label">Kidnapping</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="kidnapping" ng-model="kidnapping"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">                    
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label for="fraud" class="col-sm-6 control-label">Fraud</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="fraud" ng-model="fraud"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="row">
                                <label for="robbery" class="col-sm-6 control-label">Robbery</label>
                                <div class="col-sm-6">
                                    <input type="checkbox" name="robbery" ng-model="robbery"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="creditcardfraud" class="col-sm-6 control-label">Credit Card Theft</label>
                            <div class="col-sm-6">
                                <input type="checkbox" name="creditcardfraud" ng-model="creditcardfraud"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
</div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(data)">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>



