<div ng-controller="ListCtrl">
    <ul class="checklist">
        <li ng-repeat="item in items">
            <input type="checkbox" ng-model="item.completed" ng-click="itemCheck(item)" /> <span ng-bind="item.description"></span> 

            <!-- <button ng-repeat="photo in item.pictures" class="btn btn-sm btn-danger" ng-click="removePhoto(photo)">x</button> -->
            <button class="btn btn-sm btn-danger" ng-click="removeItem(item)">x</button>
			<form id="fileUploadForm"
			      enctype="multipart/form-data"
			      action="/talert/uploadFile"
			      method="post">
			      <input type="text" name="yoid" value="{{item.id}}"/>
			    	<input type="file" name="uploadFileName" />
			    	<input type="submit" value="submit"/>
			</form>
            <br /><br />
            <img ng-repeat="i in item.photos" ng-src="/talert/downloadFile?fd={{i.uploadedFileName}}"/>
        </li>
    </ul>

    <input type="text" ng-model="description" /> <button class="btn btn-primary" ng-click="addItem()">Add</button>
</div>

